.modal {
  opacity: 0;
  transition: opacity 300ms ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1072;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal.show {
  opacity: 1;
}

.modal-dialog {
  background-color: #fff;
  max-width: 32rem;
  padding: 20px 25px;
  border-radius: 16px;
  opacity: 0;
  transform: translateY(1rem) scale(0.97);
  transition: opacity 200ms ease-out, transform 200ms ease-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 300px;
}

.show .modal-dialog {
  opacity: 1;
}

.modal-dialog.grid {
  gap: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

button {
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  padding: 8px 14px;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  justify-self: end;
  width: fit-content;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

button:not(:disabled):hover, button:focus-visible{
  background-color: var(--primary-color);
  color: white;
}

button:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}

button:disabled {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  border-color: #ccc;
  opacity: 0.75;
}

input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-family: inherit;
  margin-top: 4px;
}

input:focus, input:focus-visible {
  border-color: var(--primary-color);
}
