<div class="container">
  <div class="timer">{{ timer.formattedTime() }}</div>
  <div class="scene-area">
    <img
      [src]="sceneUrl"
      alt="Where's Waldo puzzle image"
      (click)="onClick($event)"
    />
    @for (foundCharacter of foundCharacters(); track foundCharacter.id) {
    <div
      class="marker"
      [style.left.%]="foundCharacter.x * 100"
      [style.top.%]="foundCharacter.y * 100"
      aria-label="found"
    >
      <svg
        fill="#000000"
        viewBox="0 0 24 24"
        id="check-circle"
        data-name="Flat Line"
        xmlns="http://www.w3.org/2000/svg"
        class="icon flat-line"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <circle
            id="secondary"
            cx="12"
            cy="12"
            r="9"
            style="fill: #f5f9fa; stroke-width: 2"
          ></circle>
          <polyline
            id="primary"
            points="8 12 11 15 16 10"
            style="
              fill: none;
              stroke: #198754;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 2;
            "
          ></polyline>
          <circle
            id="primary-2"
            data-name="primary"
            cx="12"
            cy="12"
            r="9"
            style="
              fill: none;
              stroke: #198754;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 2;
            "
          ></circle>
        </g>
      </svg>
    </div>
    }
  </div>
  <div class="characters-container">
    @for (character of displayCharacters(); track $index) {
    <app-character
      [name]="character.name"
      [imgUrl]="character.imgUrl"
      [found]="character.found"
    ></app-character>
    }
  </div>
  @if (dropdownState().visible) {
  <div
    class="target-box"
    [style.top.px]="dropdownState().y - 20"
    [style.left.px]="dropdownState().x - 20"
  ></div>
  <div
    [style.top.px]="dropdownState().y + 10"
    [style.left.px]="dropdownState().x"
    style="position: fixed"
  >
    <app-dropdown
      [items]="displayCharacters()"
      [getValue]="getValue"
      [getLabel]="getLabel"
      [shouldDisplay]="shouldDisplay"
      [getImgUrl]="getImgUrl"
      (selectValue)="onSelectValue($event)"
    ></app-dropdown>
  </div>
  }
  <div class="feedback-message" [class.active]="feedbackMessage()">
    {{ feedbackMessage() }}
  </div>
  <app-player-name-modal
    [show]="showPlayerNameModal()"
    (submit)="onSubmit($event)"
  ></app-player-name-modal>
</div>
