.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 85%;
  margin: 0 auto;
  position: relative;
  gap: 12px;
}

.timer {
    padding: 12px;
    border-radius: 8px;
    font-size: large;
    color: var(--primary-color);
    background-color: white;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: inherit;
}

.characters-container {
  display: flex;
  gap: 12px;
}

img {
  width: 300px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
  img {
    width: 800px;
  }
}

@media (min-width: 1500px) {
  img {
    width: 1200px;
  }
}