<div class="container">
  <div class="timer">{{ timer.formattedTime() }}</div>
  <img
    [src]="sceneUrl"
    alt="Where's Waldo puzzle image"
    (click)="onClick($event)"
  />
  <div class="characters-container">
    @for (character of displayCharacters(); track $index) {
    <app-character
      [name]="character.name"
      [imgUrl]="character.imgUrl"
      [found]="character.found"
    ></app-character>
    }
  </div>
  @if (dropdownState().visible) {
  <div
    [style.top.px]="dropdownState().y"
    [style.left.px]="dropdownState().x"
    style="position: absolute"
  >
    <app-dropdown
      [items]="displayCharacters()"
      [getValue]="getValue"
      [getLabel]="getLabel"
      [shouldDisplay]="shouldDisplay"
      [getImgUrl]="getImgUrl"
      (selectValue)="onSelectValue($event)"
    ></app-dropdown>
  </div>
  }
  <app-player-name-modal [show]="showPlayerNameModal()" (submit)="onSubmit($event)"></app-player-name-modal>
</div>
