.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 85%;
  margin: 0 auto;
  position: relative;
  gap: 12px;
}

.characters-container {
  display: flex;
  gap: 12px;
}

img {
  width: 300px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
  img {
    width: 800px;
  }
}

@media (min-width: 1500px) {
  img {
    width: 1200px;
  }
}