<div class="menu">
    <ul>
        @for (item of items(); track $index) {
            @if (!shouldDisplay() || shouldDisplay()!(item)) {
                <li>
                    <button (click)="onSelectValue(getValue()(item))">
                        @if (getImgUrl()) {
                            <div class="img-container"><img [src]="getImgUrl()!(item)" [alt]="getLabel()(item)"></div>
                        }
                        {{ getLabel()(item) }}
                    </button>
                </li>
            }
        }
    </ul>
</div>
