.menu {
    border-radius: 6px;
    background-color: white;
    min-width: 50px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

li {
    padding: 8px 16px;
}

li:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}