.menu {
    border-radius: 6px;
    background-color: white;
    min-width: 50px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

button {
    appearance: none;
    padding: 8px 16px;
    border: 0px;
    background-color: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: inherit;
}

button:hover, button:focus-visible {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.img-container {
    width: 30px;
}

.img-container img {
    max-width: 100%;
}