.character-container {
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    width: 80px;
    height: 80px;
    background-color: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.character-container.found {
    border-color: #198754;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.character-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

span.check::after {
    position: absolute;
    top: 50%;   
    left: 50%;  
    transform: translate(-50%, -50%);
    content: '\2713';
    color: #198754;
    font-size: 80px;
}