:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background: url('/assets/images/background.png') no-repeat center center fixed;
}