:root {
  --primary-color: #01aeee;
  --text-color: oklch(27.8% 0.033 256.848);
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background: url("/assets/images/background.png") no-repeat center center fixed;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: var(--text-color);
}
